body
{
color:ghostwhite;
    background-image: url('cyberpunk.jpg');
     background-repeat: repeat;
    background-size: cover;
    background-position: center center;
text-align: center;
}

    .navbar-header{
    width: 100%;
    height: 50px;
   color:ghostwhite;
   
     background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.liste-menus {
    display: flex;
    justify-content: center;
    color  : #F1F1F1;
    list-style-type : none;
    height: 100%;
    line-height: 50px;
    font-size: 22px;
    margin-top: 0px; /* permet de coller le nav au div*/

}

.menus {

    cursor : pointer;
    margin: 0 20px;
    flex-shrink: 0;
    color: white;
    transition: .7s;
    text-decoration: none;
   
}
.menus-mission {

    cursor : pointer;
    margin: 0 20px;
    flex-shrink: 0;
    color: white;
    transition: .7s;
    text-decoration: none;
   
}

.menus:nth-child(4){

    margin-left: 0;
}

/*-------------------------------------------------------------------------------
                           Sous menus de Compétences
---------------------------------------------------------------------------------*/
.sous-liste-tp {
    display:none;   /*mettre display none ici*/
    position : absolute;            
    padding : 0;
   
}

.sous-liste-mission {
   display: none;/*mettre display none ici*/
    position : absolute;            
    padding : 0;
   
}


.sous-menus-tp {
   
    list-style-type: none;  
    text-align: center;
    padding: 0 0px;
    background: rgb(243, 213, 173);
    border: 0.1px solid white;
    color: white;
   
}
.sous-menus-mission {
   
    list-style-type: none;  
    text-align: center;
    padding: 0 0px;
    background: rgb(243, 213, 173);
    border: 0.1px solid white;
    color: white;
   
}

.sous-liste-divers {
    display:none;   /*mettre display none ici*/
    position : absolute;            
    padding : 0;
   
}

.menus:hover > ul {    /* affiche le sous menu de TP lorsque survolé */
    display: block;

}

.menus-mission:hover .sous-liste-mission {    /* affiche le sous menu de missions lorsque survolé*/
    display: block;

}


header a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition : 0.7s;
    width:100%;
    height: 100%;
   
}
.menus:hover{
    background-color:white;
    color :rgb(222, 188, 143);
}

